/* 出品タイトル */
.item-contents>.mypage_title {
  font-size: 4vh;
  line-height: 1.4;
  font-weight: bold;
}
/* /出品タイトル */


/* 下2つの商品一覧 */
.item-under-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 10vh;
}

.item-under-contents>.mypage_title {
  font-size: 4vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-under-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}
/* /下2つの商品一覧 */


/* クリックで出品 */
.go-sell {
  position: absolute;
  top: 25%;
  width: 98.5%;
  /* height: 40%; */
  text-align: center;
  background-color: #3ccace;
  /* transform: skewY(-10deg); */
}

.go-sell>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}
/* /クリックで出品 */